<!-- <script type="text/javascript">
var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function(data) {
   
    if (this.readyState == 4 && this.status == 200) 
    {
    console.log(this.responseText);
    }
   if(this.readyState == 4 && this.status != 200)
   {

    xhttp.open("GET", "https://www.indxx.com/riskajax.php?indxx=<?php echo $indxx_id ?>", true);     
    xhttp.send(); 
    
      var x = document.getElementById("risktable");
          x.style.display = "block";
   }
  };

  xhttp.open("GET", "https://www.indxx.com/riskajax.php?indxx=<?php echo $indxx_id ?>", true);
  xhttp.send();

</script> -->